/* Normalize */
abbr, acronym, .one-good .dop a, li span[title] {border-bottom: 1px dotted; }
abbr, acronym {line-height: 115%; position: relative; top: -2px; font-style: italic; color: #007700}
b abbr, b acronym, .dop abbr, .dop acronym, .title abbr, .title acronym {font-style: inherit; color: #005000}
abbr:hover, acronym:hover, li span[title]:hover {border-bottom: 1px solid; cursor: help; }
a:active {outline: none; -moz-outline-style: none;}
a:focus {outline: none; -moz-outline-style: none;}
h5 {font-size: 130%; font-weight: bold; text-align: center; padding: 12px 40px 5px 0; margin: 0;}
p.spo1 {background-color:#485257;}
p.spo2 {background-color:#27333A;}
p.spo1, p.spo2 {color:#ff9911}
p.spo1 a, p.spo1 a:hover{color:#fff;}
p.spo2 a, p.spo2 a:hover{color:#DDD;}
p.spo1:hover, p.spo2:hover{background-color:#000;}
/*abbr {cursor: help;}*/
.hidden {display: none;}
.b {font-weight: bold;}
.c {text-align: center;}
.i {font-style: italic;}

/* Disable mobile Chrome to increase font: https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font */
body {-webkit-text-size-adjust: none;}

/* regular begin */
.ny2017a  {padding-left: 80px; text-align: left; font-family: Georgia serif; font-style: italic; white-space: nowrap;}
.ny2017a a       {text-decoration: none;}
.ny2017a a:hover {text-decoration: underline; color: #fff;}
.ny2017a1 {font-size: 22px; font-weight: bold; color: #dddddd; /*Doesn't work! line-height: 28px*/}
.ny2018a1 {margin: 0 20px 0 25px; font-size: 48px; font-weight: bold; color: #88bbff; line-height: 28px}
.ny2017a3 {font-size: 30px; font-weight: bold; color: #ffffff; line-height: 20px;}
.ny2017b  {padding: 0px 0px 6px 14%; text-align: left; font-weight: bold; color: #00f8ff; font-size: 16px; line-height: 7px;}
.ny2017b2 {padding: 0px 0px 6px  3%; text-align: left; font-weight: bold; color: #00f8ff; font-size: 20px; }
/* regular end */
/* tmp begin
div.phone {width: 264px; height: 43px; margin: 0px 0 0 40px; padding: 8px 0px 0 32px; background: url(/img/phone.gif) left top no-repeat; }
.addtop1 {color: #eeeeff; font-size: 20px; margin: 8px 0 0 12px;}
.ny2017a  {padding-left: 1%;}
.ny2017a1 {font-size: 35px; font-weight: bold; color: #00f8ff; }
.ny2017a2 {border: none; margin: 0px 2px 0px 0px;}
.ny2017a2r{border: none; margin: 0px -40px 0px 1px;}
.ny2017a4 {margin: -3px -80px 3px 80px; font-size: 15px; font-style: normal; font-family: "Arial", "Helvetica", sans-serif; font-weight: bold; color: #ffffff; }
.ny2017w  {margin: -1px 0 0 55px; line-height: 14px; font-size: 13px; color: #ffffff;}
*/
/* tmp end */

.main-msg   {text-align: center; font-size: 20px; font-weight: normal; color: #ddeeff; padding: 5px 20px 8px 0;}
.main-msg a {text-align: center; font-size: 20px; font-weight: bold; color: #ffffff;}
.top-tab.act .ny2017a  {padding-left: 12px;}
.top-tab.act .ny2017a1 {font-size: 22px; line-height: 16px; color: #ff5500;}
.top-tab.act .ny2017a3 {font-size: 30px; line-height: 16px; color: #00f8ff;}
.top-tab.act .ny2017a4 {padding-left: 39px; text-align: center; font-size: 13px; line-height: 19px; color: #eeeeee;}
.top-tab.act .ny2017a4 b {color: #ffffff;}

/**** SEO block ****/
#mt1 {clear: both;}
#mt1 {padding: 0 30px 0 14px;}
#mt1 h1 {padding: 12px 0 0 0; line-height: 100%; font-size: 150%;}
#mt1 h2 {padding: 0; font-size: 150%; display: inline;}
#mt1 h3 {padding: 0; font-size: 120%; display: inline;}
#mt1 p  {padding: 0; }
#mt1 li.lih2 {position: relative; left: -23px;}
#mt1 a {}


/**** Main & patches to DESIGN.CSS ****/
/* top */
/* .top-tab>tbody>tr>td>a>img {margin: 0px 0px 5px 23px !important;} */
.phone {display: block; text-decoration: none; width: 240px; height: 43px; margin: -2px 0 0 40px; padding: 6px 0px 0 32px; background: url(/img/phone.gif) left top no-repeat; }
.phone:hover {cursor: inherit;}
.phone .phones {color: #fff; font-size: 28px; line-height: 140%; margin: 0; padding: 0 0px 0 5px;}
.phone .phones.gray {color: #888}
.address_top {width: 100%; white-space: nowrap}
.address_top .adres {padding: 0; margin: 0 0 0 23px; color: #fff;}
.address_top .adres a {color: #fff; text-decoration: none; font-size: 18px; line-height: 19px; }
.address_top .adres a:hover {color: #fff; text-decoration: underline;}
.address_top .adres.time {font-size: 15px; line-height: 15px; margin: 0px 0 -1px 64px;}
.address_top .adres.time.to17 {margin: 0 -20px -1px -25px;}
.address_top .adres.cm   {font-size: 15px; line-height: 15px; margin: 0px 0 -1px 95px; font-weight: bold}
.top-cert {vertical-align: middle; padding: 0px 6px 0px 24px;}
p.crumbs {line-height: 125%; padding: 2px 0 6px; margin: 0; }
p.crumbs, p.crumbs a, p.crumbs a:hover {color: #808080; }
h1 {line-height: 125%;}
/* left menu */
.lmenu {margin: 2px 0 12px; padding: 0;}
.lmenu li {margin: 1px 0; padding: 0; font-size: 14px; line-height: 12px; text-align: left; list-style: none;}
.lmenu li:hover, .lmenu li.open {background: url(/img/lmenu_bg.gif) right top repeat-y;}
.lmenu li a, .lmenu li.open span {display: inline-block; width: 253px; padding: 7px 1px 6px 23px; background: url(/img/bull_left.gif) 6px center no-repeat; color: #fff; text-decoration: none;}
.lmenu li.open span {color: #aaaabb;}
.lmenu li.open > a {font-weight: bold; color: #faeac8;}
/*2*/
.lmenu li ul {margin: 0; padding: 0 0 0 15px;}
.lmenu li ul li {margin: 1px 0; font-size: 13px; line-height: 11px;}
.lmenu li ul li a, .lmenu li ul li.open span {width: 240px; padding: 5px 1px 6px 20px; background: url(/img/bull.gif) 6px center no-repeat;}
.lmenu li ul li a:hover {text-decoration: underline;}
.lmenu li ul li.open > a {font-weight: bold; color: #faeac8;}
/*3*/
.lmenu li ul li ul {margin: 0 0 0 30px; padding: 0;}
.lmenu li ul li ul li {font-size: 12px; line-height: 13px; color: #ff9900; list-style-type: disc;}
.lmenu li ul li ul li a, .lmenu li ul li ul li.open span {width: 230px; padding: 3px 1px 4px 0px; background: none;}
.call {line-height: 200%;}
.call.bot {line-height: 118%; width: 36%;}
.tab .rub {font-weight: normal; font-size: larger; line-height: 50%; position: relative; top: 1px;}
.info-cat {padding: 0px 0 40px 15px;}
td.white>div.about { padding-left: 12px;}
.tmenu {padding: 0 11px;}
.tmenu a {color: #eee;}
.tmenu:nth-child(7) a {color: #fff;}
.site_search {padding: 0 0 0 5px; width: 100%;}
.site_search .txt {width: 300px; height: 21px; margin: 0;}
.feedback {padding: 0 5px 0 8px;}
.desc-good {padding: 5px 0px 0px 0;}
.more_goods {width: 272px;}

/*
#cat107 .one-good td {vertical-align: top;}
#cat107 p {vertical-align: middle; display: inline;}
*/
.art {/*float:right;*/ padding: 0 3px 0 3px; white-space:nowrap;
font-style: normal; font-weight: normal; background-color:#e6f2ff;}
.one-good .art {font-size:80%;}
.one-good li .art {font-size: 88%;}
span.artn {display: none;}

.one-good a {text-decoration: none;}
.one-good td {vertical-align: middle; padding-top:4px; padding-bottom:4px;}
.one-good td td {vertical-align: middle; padding: 0 20px; line-height:90%;}
.one-good td.good-txt .addt {font-size: 90%; line-height: 100%;}
.one-good td.good-txt {padding: 0px 2px 1px 1.5%;}
.one-good.neat td.good-txt {padding-bottom: 1px;}
.one-good .addt {padding: 1px 0 0ex 0;}
.one-good td.good-txt p {font-size: 100%; line-height: 100%; padding:0; margin-left: -4px;}
.one-good.neat td.good-txt p {line-height: 87.5%; padding-top: 1px;}
.one-good td.nop p, .one-good td.nopnob p {display: none;}
.one-good td.nop img {border: 1px solid #bbb;}

.desc-good .one-good.many.notable {margin-bottom: 25px !important}
.tab.notable {display: none}

.tab>tbody>tr>td {white-space: nowrap;}
.tab tr+tr td+td  {text-align:center;}
/*.tab*/.nocenter tr+tr td+td {text-align:left;}
/*.tab*/.nocenter tr+tr td+td.tb {text-align:center;}
/*.tab*/.allcenter tr td {text-align:center;}

.tab tr.subhead {background-color:#d8ecff; /*font-weight:bold;*/}
.tab tr.subhead td {padding-left:20px; }
.tab tr.subhead td+td, .tab tr.subhead td+td *,
.tab tr.subhead td.tb, .tab tr.subhead td.tb *,
.tab tr.subhead td.tr, .tab tr.subhead td.tr *
  {color:#d8ecff; /*visibility: hidden; display: none;*/}
.tab tr.subhead td.choose
  {background-color:#d8ecff; }
.tab tr.blkt td {border-top:double; padding-top:3px; }
.tab tr.blkt2 td {border-top:2px solid #686c6e; padding-top:3px;}
.tab tr.norow {display: none;}
.tab tr.empty td {visibility: hidden;}
/*.tab tr.empty td.choose {visibility: hidden;}*/

td.choose {text-align: center;}
/*body.ot37 td.choose {display: none;}*/
.nocart td.choose a, .subhead  td.choose a {display: none;}
.tab .thin td {color: #666; padding-top: 3px; line-height: 100%;}

.tab tr.bold {font-weight: bold;}
table.one-good.many.ltd, table.one-good.mono.ltd td.good-txt,
table.tab.ltd tr, table.tab.ltdi tr.ltdl {background-color: #faf6e4 /*#f2f2fc*/;}
.tab tr.red  {background-color: /*#ffe6e6*/ #ffffaa;} /* yellow! */
.tab tr.blue {background-color: #ecf0ff;}
.dop .blue   {background-color: #e6eaff; padding: 0px 8px 1px 4px;}
.dop .ltdl   {background-color: #f6f2c0; padding: 0px 8px 1px 4px;}
.tab tr.sp1  {background-color: #ecffec;}
.dop .sp1    {background-color: #dcffdc; padding: 0px 8px 1px 4px;}
.tab tr.sp2  {background-color: #fceaff;}
.dop .sp2    {background-color: #fae0ff; padding: 0px 8px 1px 4px;}
li.ui-menu-item {background-color: #f0f0e0;}

.one-good.next {display: none;}
.info-cat .tab.mult2 {width:49% !important; float:left; margin-bottom:15px;}
.info-cat .tab.mult2.next {margin-left:2%;}
/*.tab.mult2 td  {text-align:center;}*/
.tab.mult2 tr.subhead td {text-align:left; padding-left: 10px; }

.info-cat .tab.mult9 {width:11% !important; float:left; margin: 0 1px 0 0;}
.info-cat .tab.mult9.last {margin-right: -10px;}
.tab.mult9 th  {font-weight: normal;}
.tab.mult9 td  {text-align: right; padding: 3px 5px 3px 0px;}
.tab.mult9 tr.subhead td {text-align: center; font-weight: bold; padding: 3px 1px 3px 1px;}
.tab.mult9 tr.blkt2 td {padding-top: 2px;}
.tab.mult9.norow th {display: none;}
.tab.mult9.norow td {text-align: center; padding: 3px 1px 3px 1px;}
body.ot36 .tab.mult9 td.choose {width: 20px; padding: 0 0 0 2px; }
body.ot36 td.choose a {font-size: 0; width: 16px; height: 16px; background-image: url("/img/design/cart16.png")}
.one-good.mono.nopic {margin: -1px 0 2px 0;}
.one-good.mono.nopic img, .one-good.mono.nopic td.choose {display: none;}
.one-good.mono.nopic .good-cart {width: 6em; padding: 1px 0 2px 0;}
.one-good.mono.nopic .good-cart .ed {font-size: 13px; line-height: 105%;}
.one-good.mono.nopic .good-cart .price {line-height: 100%;}
span.nopic {float: right; margin-right: 98px; font-weight: bold;}

/*
#cat120 .title {font-size: larger; font-variant: small-caps;}
#cat120 .dop   {font-size: larger; font-weight: normal;}
*/
.one-good .title {font-weight: bold;}
.one-good .dop   {font-style: italic; font-weight: bold;}
.one-good .dop a {color: inherit;}
.one-good .addt,
.one-good .addt .prfor {display: block;}
.one-good.inline .addt, .more_goods .addt {display: inline;}
.one-good .larger {font-size: larger;}
.one-good /*.title*/ strong {color:#ff0000; /*font-size: 130%; font-family: Times New Roman, serif;*/}
.one-good .for   {display: block; font-style: italic; font-size: 14px; margin: 0 0 2px -1px; line-height: 85%}
.one-good .for.strong {color:#ff0000; font-weight: bold;}

.good-txt ul {padding: 0 0 0 25px;}
.good-txt>ul {padding: 0 0 0 20px;}
.good-txt li {font-size: 80%; line-height: 90%; margin: 0 0 0 -15px; text-indent: -2px;}
/*.good-txt li.inner {list-style-type: none; list-style-image: none;}*/
.good-txt li.inner ul {margin-top: 2px; list-style-type: disc; list-style-image: none;}
.good-txt li.inner li {font-size: 95%;}
.good-txt ul.deep>li {font-weight: bold;}
.good-txt ul.deep li li {font-size: 100%; line-height: 95%; margin: 0 0 0 -5px; text-indent: -5px; list-style-type: square; list-style-image: none;}
.good-txt ul.deep li li li {font-size: 92%; line-height: 95%; list-style-type: disc; list-style-image: none;}
.good-txt dl {font-size: 80%; line-height: 95%; max-width: 30em; margin: 2px auto auto -40px; padding-left: 10%;}
#cat120 .good-txt dl {max-width: 25em;}
#cat180 .good-txt dl {max-width: 39em;}
#cat198 .good-txt dl, #cat199 .good-txt dl, #cat431 .good-txt dl, #cat578 .good-txt dl {max-width: 35em;}
#cat216 .good-txt dl {max-width: 39em;}
/*.good-txt dt {font-style: italic; float: left; clear: right;}*/
.good-txt dd {white-space: nowrap;}
html .good-txt dt {white-space: nowrap;}
.good-txt dt {font-style: italic; float: left; clear: both;}
.good-txt dt.sub {clear: both; text-indent: 1em;}
.good-txt dd {font-weight: bold; float: right; clear: right; margin: 0 2px; overflow: visible;}
.good-txt br {clear: both; margin: .2ex 0 .0ex 0;}
.good-txt p {clear: both;}
.one-good .good-cart .price {padding: 1px 2px 1px 2px;}
/*color:#DC7800; color:#c90000;*/

.good-txt table.asul {
  border-collapse: collapse;
  border-spacing: 0px; /* cellspacing */
}
.good-txt table.asul td {
  font-size: 80%; white-space: nowrap; /* запрещение переноса в ячейках*/
}

/**/
.one-good .good-cart .price {color:#c90000; font-weight: bold;}
.one-good.rp .good-cart .price {color:#c90000;}
.one-good.bp .good-cart .price {font-weight: bold;}
/**/
.good-cart{width: 5em;}
/* #cat199 .one-good .good-cart{width: 7.5em;} (???) 6.6 */

.one-good .addph * {margin-top: -20px;}

.vaca {font-size: 120%;}
ol.vaca {margin:15px 5px 25px;}
ul.vaca {margin:20px -12px 20px;}
ul.vaca  li {list-style-type: none; list-style-image: none;}
.info ul ul li {list-style-type: disc; list-style-image: none; color: #EC8810;}
.info ul ul li span {color: #000;}

/* !!!!!!!!!!!! Mobile TMP !!!!!!!!!!!!!!!!!!!! */
/*
.more_goods {display: none;}
*/
/*-*/
.moregoods {width: 240px; background-color: #fff2e0; padding: 10px 9px 12px 11px; margin-top: -65px; margin-bottom: -35px;}
.moregoods .one-good td.good-txt {vertical-align: middle; padding: 0px 4px 0px 12px;}
.moregoods p {line-height: 110%;}
.moregoods dt {white-space: nowrap;}
.moregoods dd {font-weight: bold;}
.more_goods dl {margin-top:0;}
.more_goods dl * {display: inline; margin:0;}
.more_goods dl a {text-decoration: none; color:#000;}
.more_goods dl a:hover {text-decoration: underline;}
.more_goods dl .title {line-height:17px;}
.more_goods dl .dop {font-style: italic;}
.more_goods .good-txt, .more_goods dl {font-size:85% !important;}
.more_goods .good-txt p, .more_goods dt, .more_goods dd {font-size:12px !important;}
/*line-height:110% !important;*/
.more_goods .one-good td {vertical-align:top}
/*.more_goods .one-good td.good-txt p span {display: block;}*/
.more_goods h2{font-size:115%; font-weight:normal;
text-align:center;
color:#e88010;
padding:0px 0px 0px 0;
margin:0;}

#specoffers_page .tab {margin:1px 0 0 0;}
#specoffers_page .tab a, #specoffers_page .good-txt a {color:#000;}
#specoffers_page .good-cart {text-decoration: line-through; }
#specoffers_page #all-summa.good-cart {text-decoration: none; }
#specoffers_page #all-summa.good-cart p.ed {text-decoration: line-through; }
#specoffers_page #all-summa.good-cart p.price {padding-left: 0; padding-right: 0;}
#specoffers_page #all-summa.good-cart p.price span {font-size: 18px /*150%*/;}
#specoffers_page .spof :last-child .red {font-size: 150%;}

table.one-good.many.later0001, table.one-good.mono.later0001 td.good-txt,
table.tab.later0001 tr                  {background-color: #f6f6f8;}
table.tab.ltd:after, table.one-good.mono.ltd:after, table.tab.ltdi:after,
table.tab.sale1:after, table.one-good.mono.sale1:after,
table.tab.callprice:after, table.one-good.mono.callprice:after,
table.tab.postoffer:after, table.one-good.mono.postoffer:after,
table.tab.later0000:after, table.one-good.mono.later0000:after,
table.tab.later0001:after, table.one-good.mono.later0001:after,
table.tab.later1803:after, table.one-good.mono.later1803:after,
table.tab.later1204:after, table.one-good.mono.later1204:after {
  font-weight: bold; font-size: 80%; line-height: 160%; border: none;
  width: 1px; white-space: nowrap; display: table-caption; caption-side: bottom;}
table.one-good.mono.ltd:after { content: "Продажа этой позиции ограничена наличием на текущую дату."; }
table.tab.ltd:after      { content: "Продажа данных позиций ограничена наличием на текущую дату."; }
table.tab.ltd.one:after  { content: "Продажа данной позиции ограничена наличием на текущую дату."; }
table.tab.ltdi:after, table.tab.sale1i:after { content: "* - Продажа отмеченных позиций ограничена наличием на текущую дату."; }
table.tab.ltdi.one:after { content: "* - Продажа отмеченной позиции ограничена наличием на текущую дату."; }
table.tab.sale1:after    { content: "Распродажа ограничена количеством товара на складе."; }
table.tab.ltdi.later_two:after { content: "* - Отмеченных позиций сейчас нет в продаже."; }
table.tab.ltdi.later_one:after { content: "* - Отмеченной позиции сейчас нет в продаже."; }
table.tab tr.ltdl td:before    { content: "* "; }
table.tab tr.ltdl td.tb:before, table.tab tr.ltdl td.good-cart:before { content: ""; }
table.tab.callprice:after, table.one-good.mono.callprice:after {
  content: "Цена по запросу"; }
table.tab.callprice.some:after, table.one-good.mono.callprice.some:after {
  content: "На товары, цена которых не проставлена, цена по запросу"; }
table.tab.postoffer:after, table.one-good.mono.postoffer:after {
  content: "Под заказ"; }
table.tab.later0000:after, table.one-good.mono.later0000:after {
  content: "Поставка ожидается в ближайшее время"; }
table.tab.later0001:after, table.one-good.mono.later0001:after {
  content: "Товар временно отсутствует в продаже"; }
table.tab.later1204:after, table.one-good.mono.later1204:after {
  content: "Поставка ожидается во второй половине февраля 2018 г."; }
table.tab.later1803:after, table.one-good.mono.later1803:after {
  content: "Поставка ожидается в марте 2018 г."; }
table.tab.next:after    { content: ""; }

p.callprice { font-weight: bold; padding: 0px; }
p.callprice:after { content: "Под заказ"; }
p.postoffer { font-weight: bold; padding: 0px; }
p.postoffer:after { content: "Под заказ"; }
p.onlyrest  { font-weight: bold; padding: 0px; }
p.onlyrest:after  { content: "Продажа данных позиций ограничена наличием на текущую дату."; }
/*p.onlyrest:after  { content: "Продажа осуществляется строго по складским остаткам."; }*/

/* !!! Related cats descriptor !!!
.cblock.related {color: #ee0000; font-size: 12px; padding: 2px 0 0 1px; white-space: nowrap; overflow: visible;}
*/

.cblock .desc.txt {color: #ee0000; font-size: 12px; padding: 2px 0 0 1px; white-space: nowrap; overflow: visible;}
#cat424 .cblock {margin-bottom: 10px}

table.one-good.sale1, table.tab.sale1 {background-color: #fff4f4;}
table.tab tr.sale1 {background-color: #ffece8;}
table.one-good.sale1 td.good-txt .title:before
  { display: inline; content: "Распродажа: "; font-size: 120%; font-weight: bold; font-style: italic; color: #C90000; }
table.one-good.lowp1, table.tab.lowp1.lowall {background-color: #f2ffec;}
table.tab tr.lowp1 {background-color: #f0fff4;}
table.one-good.lowp1 td.good-txt .title:before
  { display: inline; float: right; content: "Акция!"; font-size: 120%; padding: 7px 2%; margin: 0 -2px 1px 1%;/*line-height: 120%;*/ font-weight: bold; font-style: italic; background-color: yellow; color: #C90000; }
table.one-good.sale1 td#all-summa.good-cart p.ed {display: none;}
table.one-good.sale1 td#all-summa.good-cart { width: 0; }
table.one-good.sale1 td#all-summa.good-cart { width: auto !ie; }
table.one-good.sale1 td#all-summa.good-cart p.price span {font-size: 18px /*150%*/;}
table.one-good.sale1 td#all-summa.good-cart p.price {white-space: normal; padding-left: 0; padding-right: 0; width: 112px; }
table.one-good.sale1 td#all-summa.good-cart p.price:after { content: " Цена распродажи "; font-size: 11px; display: block; text-align: center; color: #C90000; }

table.tab tr.nocart {background-color: #fff8e0; }
table.tab tr.nocart td.good-cart a { display: none; }
/*
.K4000 { padding: 0px 10px; background-color: #ffcc99; overflow: visible; }
.K4000t { padding: 0px 0px 0px 10px; display: none; }
.K4000:hover .K4000t { display: inline; }
*/
.l1 {clear: both; color: #444; text-align: center; margin: 0 18% -12px -20px; padding-top: 35px; font-size: 24px; font-weight: bold; font-family: Times New Roman, serif; font-style: italic;}
.l1a {font-weight: normal; white-space: nowrap;}
.main-info .l2 {color: #666; text-align: center; font-size: 16px; margin: 6px 0px -12px 0}
.l3 {font-size: 22px; margin: 16px 0px -12px 0;
  display: block;
}
.main-info .l3 {margin-bottom: -12px;}
.l2, .l3, div.ref {width: 101%;
  margin-left: -18px;
}

.top-pic a {position: relative;}
.ftitle:hover{white-space:pre;}
.ftitle:hover::after {
  content: attr(data-title); /* Выводим текст */
  /*width: 200px*/; position: absolute; /* Абсолютное позиционирование */
  left: -80px; top: 20px; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  color:#000; background: rgba(255,255,204,0.8); /* Полупрозрачный цвет фона */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 12px; /* Размер текста подсказки */
  padding: 10px 15px; /* Поля */
  border: 1px solid #666; /* Параметры рамки */
}

.desc-good > b {font-size: 14px; display: block; margin-bottom: -16px;}
.desc-good > a {color: #0000cc}

.desc-good .ref .t {
  margin: 15px;
  display: inline-block;
}
.desc-good .ref .t .t2 {
  width: 125px; height: 40px; background-color: #ff0000;
  margin: 0;
}
.desc-good .ref .t3 {
  width: 125px; height: 40px; background-color: #ff0000;
  margin: 15px;
  display: inline-block;
}
.ref {text-align: center; margin: 0px auto 0 auto;}
div.ref.pdf {font-size: 17px; font-weight: normal; }
div.ref.pdf a {font-weight: bold; }

div.refbanner page {padding-right: 269px; }
.refbanner table {margin: auto;}
.refbantab {background-color: #f0e8ff; padding: 1px 12px 10px;}
.refbanner a { color: #000; text-decoration: none;}
.refbanner tr.hdr {font-size: 18px;}
.refbanner tr.sub {font-size: 12px; line-height: 4px;}
.refbanner td {text-align: center;}

.ref .adv {padding: 20px 0px 0 0; vertical-align: middle; font-size: larger; font-weight: bold;}
.ref .cblock {
  background-position: right center;
  width: 240px;
  margin: 25px 10px 0px 25px;
}
.ref .cblock .arrow {padding-right: 0;}
.ref .cblock .txt   {padding: 0 0 1px 8px; font-size: 14px; line-height: 120%;}
.ref .cblock .txt i {font-size: 14px;}
.ref .cblock a, .ref .cblock a:hover      {color: #000000;}
/* Костыли для ссылки со страницы без товаров */
h2.refs {padding: 60px 0 20px; text-align: center; position: relative; left: -100px; font-size: 150%; color: #ec8911;}
  /* Центрировать ссылку под заголовком */
h2+table.cblock {float: none; margin: 10px auto 0px auto; position: relative; left: -100px; }
  /* Отменить Центрирование там, где ссылок несколько */
#cat64  h2+table.cblock, #cat424 h2+table.cblock, #cat65  h2+table.cblock,
#cat507 h2+table.cblock, #cat508 h2+table.cblock, #cat513 h2+table.cblock,
#cat100 h2+table.cblock {float: left; margin-right: 30px; position: static; }
/* Отменить Центрирование там, где начинается следующая группа ссылок */
#cat46 h2+table.cblock {float: left; left: 0px; }
/* Костыли для ссылки на top-level раздел с кривой квадратной иконкой */
.ref .cblock td:nth-child(1) img,
body#cat50  h2+.cblock td:nth-child(1) img,
body#cat454 h2+.cblock td:nth-child(1) img
  {width: auto; height: 70px;}

#nooferta {text-align: center; font-size: 75%; color: #555; line-height: 100%; padding:4px 23px 1px 23px;}

/*#toptmp1w  {position: relative; top: 163px; width: 100%; height: 155px; background-color: #fee; }*/
/*#toptmp1bg  {!*position: absolute; top: 163px; width: 100%;*! margin-left: 280px; height: 155px; }*/
#toptmp1bg {background-color: #58f; color: #fff; }
#toptmp1 {margin-left: -600px; padding: 2px 0 8px 55%; font-size: larger; font-family: Georgia, serif; }
#toptmp1 a {color: #fcc;}
#toptmp1 .ref { margin-top: 0; }
#toptmp1.ny b {color: #d00;}
#toptmp1.ny #may-2 b {color: #600;}
#toptmp1bg.f23 b {color: #f00;}
#ny-1 { font-size: 24px; font-weight: bold; font-style: italic; text-align: center; }
#ny-2 { margin: 4px; font-size: 17px; color: #000; text-align: center; }
#may-1 { font-size: 24px; font-weight: bold; font-style: italic; text-align: center; }
#may-2 { margin: 4px; font-size: 19px; color: #000; text-align: center; }
#ny-3   { font-size: 16px; color: #000; padding-top: 2px; line-height: 18px;}
#ny-3 b {color: #f00;}
#ny-3 table {margin: auto}
#ny-3 td {padding: 0% 10px;}
#ny-3 td.day {font-family: sans-serif;}
#ad1    {color: #e00; font-size: 40px; font-variant: small-caps; font-style: italic; }
/* Hide/adjust these when <div id="toptmp1"> in ssi/top-tmenu.shtml is not used or changed!
#toptmp1bgw {position: absolute; top: 252px; width: 100%; }
#toptmp1bg1 {height: 100px; margin-left: 308px; background-color: #ffccdd;}
.bgcolor2 {margin-bottom: 150px;}
*/

/* #cat199 .more_goods {display: none;} */
/*#cat175 h1 {margin-bottom: -15px;}*/
#cat175 .desc-good .one-good {margin-top: 25px;}
#cat175 .more_goods {padding-top: 30px;}
#cat175 .info-cat>table {margin-top: -19px;}
#cat176 .desc-good .one-good {margin-top: 35px;}
#cat176 .more_goods {padding-top: 40px;}
#cat176 .info-cat>table {margin-top: -28px;}

.info {max-width: 42em; margin-left: -40px; padding-left: 6% !important;}
.article p {text-align: justify;}
.article a {text-decoration: none; color: inherit;}
.article li {margin: 2px 0;}
.article ul {margin: -2px 0 10px 0;}
table.gal {width: 90%; margin: auto;}
table.gal img {border: 1px solid #777; margin: 15px 12px 20px;}
.info .right {float: right; font-style: italic; font-size: 125%; padding: 10px 5em 0 0;}
.help_newe_ru, .ad_newe_ru {font-size: 90%; text-align: center; color: #ff9911}
.ad_newe_ru:hover {color: #ffbb55}

#cat310  .price-nds .p2, #cat310  .price-nds .const {display: none;}
body.ot2 .price-nds .p2, body.ot2 .price-nds .p3    {display: none;}
body.ot37 .desc-good {min-width: 24em;max-width:50em;}
body.ot37 .price-nds {display: none;}
body.ot16 .price-nds .p2,
body.ot30 .price-nds .p2 {display: none;}
body.ot37 h1 {padding-bottom: 40px;}
body.ot37 .info-cat>table {position: relative;}
p.subtit {position: absolute; top: -38px;}
.price-none {font-weight: bold;}

.desc-good {min-width: 39.5em;}
/*
#cat266 .desc-good,
#cat32 .desc-good {min-width:28em;}
#cat217 .desc-good, #cat29 .desc-good, #cat233 .desc-good,
#cat12 .desc-good, #cat45 .desc-good, #cat260 .desc-good, #cat223 .desc-good,
#cat118 .desc-good {min-width:30em;}
#cat245 .desc-good {min-width:34em;}
#cat190 .desc-good, #cat13 .desc-good, #cat19 .desc-good,
#cat34 .desc-good, #cat35 .desc-good, #cat77 .desc-good, #cat28 .desc-good,
#cat220 .desc-good, #cat27 .desc-good, #cat197 .desc-good,
#cat234 .desc-good, #cat138 .desc-good, #cat212 .desc-good, #cat92 .desc-good,
#cat191 .desc-good {min-width:36em;}
#cat229 .desc-good, #cat20 .desc-good,
#cat139 .desc-good,
#cat291 .desc-good, #cat309 .desc-good, #cat311 .desc-good,
#cat1 .desc-good, #cat3 .desc-good,
#cat416 .desc-good,
#cat107 .desc-good, #cat188 .desc-good, #cat227 .desc-good, #cat30 .desc-good,
#cat117 .desc-good, #cat254 .desc-good, #cat230 .desc-good, #cat293 .desc-good,
#cat120 .desc-good, #cat191 .desc-good, #cat548 .desc-good {min-width:40em;}
#cat70  .desc-good, #cat522 .desc-good, #cat610 .desc-good
{min-width:42em;}
*/
#cat35  .desc-good, #cat175 .desc-good, #cat270 .desc-good,
#cat247 .desc-good,
#cat279 .desc-good, #cat335 .desc-good, #cat148 .desc-good,
#cat235 .desc-good
{min-width:44em;}
#cat414 .desc-good,
#cat47  .desc-good, #cat48  .desc-good
{min-width:46em;}
#cat361 .desc-good, #cat362 .desc-good, #cat363 .desc-good, #cat379 .desc-good,
#cat174 .desc-good, #cat176 .desc-good
{min-width:48em;}
#cat468 .desc-good
{min-width:50em;}
#cat422 .desc-good
{min-width:56em;}
/*
*/
/* table.top-tab {max-width: 1600px; margin: auto;} 70em=1120px -> 1698 px */
.info-cat>table {width:100%;  /*margin: auto; max-width:80em;*/}
.info-cat>table.cblock {width:282px;}
.desc-good {max-width: 60em;}
#cat227 .desc-good,
#cat107 .desc-good, #cat95 .desc-good, #cat175 .desc-good,
#cat176 .desc-good {max-width:70em;}
#cat361 .desc-good, #cat362 .desc-good, #cat363 .desc-good, #cat364 .desc-good,
#cat270 .desc-good {max-width:80em;}

.ot37#cat175 .desc-good, .ot37#cat176 .desc-good,
.ot37#cat270 .desc-good {min-width:40em; max-width:60em;}

ul.lmenu > li:nth-child(5) > ul > li:nth-child(1) > a,
ul.lmenu > li:nth-child(5) > ul > li:nth-child(2) > a    {font-size: 20px; color: #ff7c00; font-family: Georgia, serif}
ul.lmenu > li:nth-child(5) > ul > li:nth-child(1) > span,
ul.lmenu > li:nth-child(5) > ul > li:nth-child(2) > span {font-size: 20px; font-weight: bold; font-family: Georgia, serif}

#cat46 table.cblock:nth-child(13) {margin-bottom: 38px;}
#cat46 table.cblock:nth-child(14) {clear: both;}
#cat46 table.cblock:nth-child(14):before {content: "Свёрла по металлу";
  font-size: 160%; font-weight: normal; text-align: left; color: #ec8911;
  line-height: 0; position: relative; top: -31px; display: table-caption; width: max-content;}
/* "display: table-caption" нужен для MS и WebKit (Blink) браузеров, а Мозилле он только мешает! */
@-moz-document url-prefix() {#cat46 table.cblock:nth-child(14):before {display: unset;}}

/*
body#cat101 .ref {position: absolute; top: 140px; right: 272px; left: 680px;}
body#cat101 h1 {padding: 20px 0 25px 0;}
*/

/*#cat333 .tab td {background-color: #fff8f8;}*/

/*
.spo1 > a[href="/catalog/cat0.shtml"],
.spo1 > a[href="/catalog/cat0.shtml"]:hover {
  background-color: #485257;
  color: #485257;
  opacity: 0.99;
  padding-bottom: 20px;
  cursor: default;
}
.spo2 > a[href="/catalog/cat0.shtml"],
.spo2 > a[href="/catalog/cat0.shtml"]:hover {
  background-color: #27333A;
  color: #27333A;
  opacity: 0.99;
  padding-bottom: 20px;
  cursor: default;
}
*/
